body {
  background-color: green;
}

.bakgrund {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

section {
  display: flex;
  position: absolute;
  flex-direction: column;
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

aside {
  display: flex;
  position: absolute;
  right: 50px;
  align-items: center;
  align-content: center;
  flex-direction: column;
  top: 45px;
}

article {
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  flex-direction: column;
  top: 270px;
  left: 0;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
